fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-multipart
bcrypt==4.0.1
passlib[bcrypt]
PyJWT
underthesea
sentence-transformers
chromadb
python-docx
python-dotenv
PyMuPDF
pytesseract
pdf2image
openai
youtube-transcript-api
langchain
langchain-text-splitters
python-jose[cryptography]